@font-face {
    font-family: 'Murs Gothic';
    src: url("./fonts/MursGothic-WideDark.ttf");
}
@font-face {
    font-family: 'RF Dewi Bold';
    src: url("./fonts/RFDewi-Bold.ttf");
}

*{
    background-color: #262626;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';*/
    font-family: 'Murs Gothic';
    font-size: 100%;
    color: white;
}

.main_container {
    min-width: 600px; 
    max-width: 1440px; /* здесь регулируем ширину странички на сайте*/
    margin: auto; 
    border: 0px solid pink; /* для отладки*/
    justify-items: center;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Murs Gothic';
  }
a:hover {
    color: #AB2225;
  }


.flex_menu {
    display: flex; /* flex || inline-flex */
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
 }
 .flex_menu * {
    margin: 2% 3%;
    font-size: 120%;
 }

h1 {
    font-size: 200%;
    margin-top: 10%;
    margin-bottom: 3%; 
    text-align: center;
} 

.img_scalable {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 0px solid yellowgreen; /* для отладки*/
    }
    
.st_block {
    display: flex;
    margin: 0px; 
    padding: 0px;
    text-align: center;
    align-items: center; 
    justify-content: center;
    border: 0px solid blueviolet; /* для отладки*/
}

.ab_block {
    border: 0px solid red;
    height: 500px;
    background-image: url("./img/about_gr.png"); 
    background-repeat:no-repeat;
    background-size:contain;  
    background-position: center right; 
}

.feedback_container {
    display: flex;
	border: 0px solid red; /* для отладки*/
    max-width: 1000px;
    flex-wrap: nowrap;
    margin: 3% 9%;
}
.feedback_container * {
    background-color: transparent;    
    font-family: 'RF Dewi Bold';
}
.feedback_container #window_ {
    border-radius: 1em 1em 0%;
    background-color: orange; 
    width: 50%;
    height: 150px;
    text-align: center;
    align-content: center;
    align-items: center; /* выравниваем по центру содержимое*/
    justify-content: center;
	border: 15px solid transparent;
}

.feedback_container #window_ img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
    border: 0px solid red; /* для отладки*/
    }


.feedback_container #text1_ {
    width: 50%;
    height: auto;
    justify-content: left;
	border: 20px solid transparent;
}

.feedback_container #text2_ {
    width: 50%;
    height: auto;
    justify-content: right;
	border: 20px solid transparent;
}

/* для плашек с гаражами */
.grg_cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1000px;
}
.grg_cont * {
    background-color: transparent;   
    padding-top: 1%;
	border: 0px solid blue;
}
.grg_cont_orange {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: orange; 
    width: 33%;
    height: auto;
    min-width: 250px;
    margin: 1% 1%;
    padding: 1% 1%;
    text-align: left;
    align-items: center; /* выравниваем по центру содержимое*/
    justify-content: space-between;
}
.grg_cont_orange #grg0 {
    height: 30%;
    text-align: center;
}
.grg_cont_orange #grg0 img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
    border: 0px solid red; /* для отладки*/
}
.grg_cont_orange #grg1 {
    font-size: 130%;
    color: #262626;
    padding-top: 2%;
    padding-left: 1%;

}
.grg_cont_orange #grg2 {
    font-family: 'RF Dewi Bold';
    font-size: 120%;
    color: #262626;
    padding-left: 20px;
}
.grg_cont_orange #grg3 {
    font-size: 130%;
    color:#AB2225;
    padding-top: 40px;
    padding-left: 20px;
}

.mokup_container {
    display: flex; 	
    flex-direction: column;
    width: 100%;
    align-items: center; /* выравниваем по центру содержимое*/
    justify-content: center;
    border: 0px solid red; /* для отладки*/
}





/* СТРАЫЙ МОКАП
.mokup_container {
    display: flex; 	
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border: 4px solid red;
}
.mokup
{
    overflow:hidden;
    width:1000px;
    height: 1000px;
    margin: 0px;
    float:left;
    position:relative;
}

.mokup img
{
    position:absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
*/